.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.chips {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
  gap: 8px;
}

.title {
  font-size: 2.1rem !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
}

.brand {
  margin-top: 6px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 12px;
}

.description {
  line-height: 1.8 !important;
}

.price {
  margin-bottom: 4px !important;
  font-weight: 700 !important;
  font-size: 1.75rem !important;
}

@media (max-width: 600px) {
  .info {
    gap: 20px;
  }

  .title {
    font-size: 1.7rem !important;
  }

  .rating {
    gap: 8px;
  }

  .description {
    line-height: 1.7 !important;
  }

  .price {
    font-size: 1.5rem !important;
  }
}
