.shell {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--mui-palette-background-default);
}

.content {
  flex: 1;
  width: 100%;
  min-width: 0;
}
