.row {
  height: 76px;
}

.row :global(.MuiTableCell-root) {
  border-color: var(--mui-palette-divider);
  vertical-align: middle;
}

.product {
  display: flex;
  align-items: center;
  gap: 12px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
