.cell {
  padding: 56px 24px !important;
  text-align: center;
  border-bottom: 0 !important;
}

.title {
  margin-bottom: 4px !important;
  font-weight: 600 !important;
}

.description {
  margin-bottom: 20px !important;
}

.button {
  min-width: 140px;
}
